<!DOCTYPE html>
<html>

<head>
    <title>
        Example Stream
    </title>
</head>

<body>
    <h1>
        Example Adonis Stream
    </h1>
    <video controls preload="auto" width="800" style="max-width: 100%;">
        <source src="{{ videoUrl }}" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</body>

</html>